<ion-content>
  <ion-list>
      <ion-item>
          <div class="title place">
            <img src="../assets/airbnb.jpg">
              
                <!-- This data should come from the JWT token  GET /users API endpoint, managed by a user service class -->
              <h2>Bright Modern Art Decor Atelier </h2>
              <p>Cape Town, Western Cape, South Africa</p>  
            </div>
        </ion-item>
        <ion-item>
            <div class="about host">
                <ion-avatar item-start>
                    <img src="../assets/profile.jpg">
                  </ion-avatar> 
                  <!-- This data should come from the JWT token  GET /users API endpoint, managed by a user service class -->
                <h1>Hosted by Helda</h1> 
                <p>"Multi-line text that should wrap when"</p>
              </div>   
        </ion-item>

        <ion-item>
            <div class="about place">
                <ion-label text-wrap>
                    Bright Modern Art Decor Studio Apartment in the heart of the vibey Salt River,just a 5 minute drive from Cape Town (CBD). The neighborhood is the melting part of Cape Town with many craft markets, galleries, pubs, and restaurants to choose from. Many international interns from the USA, Canada and The Netherlands flock to this vibey neighborhood, which has international and local street art at each and every corner of Salt River.
                  </ion-label> 
          </div>   
        </ion-item>

        <ion-item>
       
            <ion-list>
              <ion-item><ion-icon name="home"></ion-icon>
                <p>"Multi-line text that should wrap when"</p>
              </ion-item>
              <ion-item><ion-icon name="key"></ion-icon>
                <p>"Multi-line text that should wrap when"</p>
              </ion-item>
              <ion-item><ion-icon name="pin"></ion-icon>
                <h2>Great Location</h2>
                <!-- <p>"Multi-line text that should wrap when"</p> -->
              </ion-item>
            </ion-list>
      
        </ion-item>
        <ion-list>
            <ion-list-header>
                <ion-label>Amenities</ion-label>
              </ion-list-header>
              <ion-item>WiFi</ion-item>
              <ion-item>Kitchen</ion-item>
              <ion-item>Microwave</ion-item>
              <ion-item>Oven</ion-item>
        </ion-list>

        </ion-list>
</ion-content>

