<ion-content>
  <ion-list>

      <ion-list-header>
        Header
      </ion-list-header>
    
      <ion-item>
          <div class="about place">
            <img src="../assets/airbnb.jpg">
              <h2>Bright Modern Art Decor Atelier </h2> 
              <p>R168/night</p>  
            </div>
        </ion-item>
        <ion-item>
            <div class="about place">
              <img src="../assets/airbnb1.jpg">
                <h2>Bright Modern Art Decor Atelier </h2> 
                <p>R168/night</p>  
              </div>
          </ion-item>
          <ion-item>
              <div class="about place">
                <img src="../assets/airbnb2.jpg">
                  <h2>Bright Modern Art Decor Atelier </h2> 
                  <p>R168/night</p>  
                </div>
            </ion-item>
            <ion-item>
                <div class="about place">
                  <img src="../assets/airbnb3.jpg">
                    <h2>Bright Modern Art Decor Atelier </h2> 
                    <p>R168/night</p>  
                  </div>
              </ion-item>
    </ion-list>
</ion-content>
