
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand " href="#">
        <img class="logo" src="../assets/logo.png" width="50px" height="40px" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ">
            <li class="dashboard">
                <a class="nav-link text-white " href="#">Dashboard</a>
            </li>
          <li class="home ">
            <a class="nav-link text-white " href="#">Home </a>
          </li>
          <li class="users">
              <a class="nav-link text-white " href="#">Users</a>
            </li>
            <li class="listings">
                <a class="nav-link text-white " href="#">Listings</a>
              </li>
          <li class="bookings ">
            <a class="nav-link text-white " href="#">Bookings</a>
          </li>

        </ul>

      </div>
    </nav>

