ion-content{
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: white;
}

input{
    border: none;
    background-color: transparent;
    outline: none;
}

$white-color: #fff;
$height100: 100%;

ion-grid {
    width:100%;
    color: white;
    height: $height100;
    background: #4ECDC4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

ion-row {
    height: $height100;
}

ion-button {
    font-weight: 300;
    color: #fff;
    --border-color:  #fff;
    --background: clear;
}
