

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">

        <ion-list>
          <ion-card id="cart-item">

            <ion-card-header>
              <ion-title>Item</ion-title>
            </ion-card-header>


            <ion-thumbnail margin>
              <img src="gas.png">
            </ion-thumbnail>

            <ion-item>
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </ion-item>


            <ion-item>
              <ion-button size="small" fill="clear" shape="round" slot="end">
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
              <ion-button size="small" fill="clear" shape="round" slot="end">
                <ion-icon name="remove-circle-outline"></ion-icon>
              </ion-button>
            </ion-item>

          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <p margin>
          Total: R
        </p>
        <ion-button margin> CHACKOUT</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>