<ion-content>

  <ion-grid>
    <ion-row >
      <ion-col size-md="6" offset-md="3">
        <div padding class="profile">
          <ion-list>
            <ion-item>
              <div>
                <ion-avatar item-start>
                  <img src="../assets/profile.jpg">
                </ion-avatar>
                <!-- This data should come from the JWT token  GET /users API endpoint, managed by a user service class -->
                <h1>John Doe</h1>
                <p>john@mail.com</p>
                <p>+44126578546</p>
              </div>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>