ion-content{
    font-family: 'Montserrat', sans-serif;
}
ion-item{
    font-family: 'Montserrat', sans-serif;
    
}

h1{
    font-weight:bold;
}

h4{
    font-weight:bold;
}

ion-tab-button{
    --padding-bottom:-2px;
    font-size: 8px;
    font-weight: bold;
}

ion-icon {
    font-size: 25px;
  }

