<ion-content>
  <ion-list>
      <ion-item>
          <div class="profile">
              <ion-avatar item-start>
                  <img src="../assets/profile.jpg">
                </ion-avatar> 
                <!-- This data should come from the JWT token  GET /users API endpoint, managed by a user service class -->
              <h1>Linda Lee</h1> 
              <p>linda@mail.com</p>
            </div>
        </ion-item>
        <ion-item>
            <ion-label text-wrap>
                Multi-line text that should wrap when it is too long
                to fit on one line in the item.
              </ion-label>    
        </ion-item>
        </ion-list>